{% extends "base.html" %}
{% block explain_contents %}


<div class="container">
  <h2>Download</h2>
  <p>The table is download site</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> .</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>

          <div class="dropdown-item">
          <button type="button" class="btn btn-primary dropdown-toggle" href="https://www.python.org/downloads/"  data-toggle="dropdown">
          Python</td>
          </div>
        <td>

  </button>
  <div class="dropdown">
    <a class="dropdown" href="https://www.python.org/downloads/">Python homepage</a>
    <a class="dropdown" href="https://www.python.org/downloads/release/python-381/">Python 3.8.1</a>
    <a class="dropdown" href="https://www.python.org/downloads/release/python-376/">Python 3.7.6</a>
        <a class="dropdown" href="https://www.python.org/downloads/release/python-3610/">Python 3.6.10</a>

</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="dropdown-item">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Anaconda</td>
          </div>
        </td>
        </button>
        <td>
            <div class="dropdown">
    <a class="dropdown" href="https://docs.anaconda.com/anaconda/install/">anaconda download</a>

</div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="dropdown-item">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Pycharm</td>
          </div>
        </td>

        <td>
        <div class="dropdown">
    <a class="dropdown" href="https://www.jetbrains.com/ko-kr/pycharm/download/#section=windows">Pycharm download</a>

</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>





{% endblock explain_contents %}