<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="main.css">
<style>
body {
        background-image: url("images/dfdf.jpg");
}
</style>


</head>
<form method="post" action="signOut.php">
  <title>Duni's web page</title>
</head>
<center>
    <body>
​
  <h1>WELCOME</h1>
  <img src="images/dd.jpg">
  <br><br>

    <button class="btn btn-default"> <a href="list.php">BOARD</a></button>
    <button class="btn btn-default" input type="submit">LOGOUT</button>
</body>
</center>
</form>
</html>